.terraform/
*.tfstate
*.tfstate.*
*.tfplan
*.plan
tfplan
crash.log
crash.*.log
terraform.tfvars
terraform.tfvars.json
*.auto.tfvars
*.auto.tfvars.json
backend.hcl
override.tf
override.tf.json
*_override.tf
*_override.tf.json
