bucket               = "ec-portfolio-terraform-state-ACCOUNT_ID-ap-northeast-1"
key                  = "access/terraform.tfstate"
workspace_key_prefix = "access/env:"
region               = "ap-northeast-1"
use_lockfile         = true
encrypt              = true
